services:
  # Nginx サーバー
  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8080:80" # ホストの8080番ポートをコンテナの80番に接続
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  # PHP
  php:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    container_name: laravel_php
    ports:
      - "5173:5173"
    volumes:
      - ./src:/var/www/html
    environment:
      - "DB_CONNECTION=mysql"
      - "DB_HOST=mysql"
      - "DB_PORT=3306"
      - "DB_DATABASE=${DB_DATABASE}"
      - "DB_USERNAME=${DB_USERNAME}"
      - "DB_PASSWORD=${DB_PASSWORD}"

  # MySQL データベース
  mysql:
    image: mysql:8.4
    container_name: laravel_mysql
    ports:
      - "33066:3306" # ホストの33066番ポートをコンテナの3306番に接続
    environment:
      - "MYSQL_DATABASE=${DB_DATABASE}"
      - "MYSQL_USER=${DB_USERNAME}"
      - "MYSQL_PASSWORD=${DB_PASSWORD}"
      - "MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}"
    volumes:
      - mysql_data:/var/lib/mysql

  # MailHog (メール送受信テスト用)
  mailhog:
    image: mailhog/mailhog
    container_name: laravel_mailhog
    ports:
      - "8025:8025" # Web UI
      - "1025:1025" # SMTP

volumes:
  mysql_data:
